<app-filters [capsules]="capsules"
             (emitSortBySerial)="getFilters($event)"
             (emitSortByStatus)="getFilters($event)"
             (emitClickClear)="clearFilters($event)"
>
</app-filters>

<table>
  <tr>
    <th>Capsule</th>
    <th>Serial</th>
    <th>Status</th>
    <th>Launch</th>
  </tr>
  <tr *ngFor="let capsule of capsules; trackBy: trackByFn">
    <td>{{capsule?.capsule_id}}</td>
    <td>{{capsule?.capsule_serial}}</td>
    <td>{{capsule?.status}}</td>
    <td>{{capsule?.original_launch | date: 'short'}}</td>
  </tr>
</table>
