:host {
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 100vh;
    background-color: #f2ebeb;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

button.nav-item {
    text-align: left;
    border: none;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    &:disabled {
        color: #D6D7D6;
        cursor: default;
    }
}