:host {
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 100vh;
    background-color: #f2ebeb;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.active-route {
  border-left: 3px solid #a6a6a6;
  color: #a6a6a6;
}
