<div class="main-block">
  <p>Filtering by first flight date:</p>
  <mat-form-field appearance="fill">
    <mat-label>Filtering by date</mat-label>
    <mat-select [formControl]="setDate">
      <mat-option *ngFor="let flight of rockets" [value]="flight.first_flight">
        {{flight.first_flight}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="showAllData()" *ngIf="setDate?.value">Show All data</button>

  <div class="rocket-item pointer"
    *ngFor="let rocket of rockets | showByDate: setDate?.value"
    [routerLink]="['/rockets', rocket.rocket_id]"
  >
    <p>Name: <span class="name">{{rocket.rocket_name}}</span></p>
    <div>Country: {{rocket.country}}</div>
    <img class="img" src="{{rocket.flickr_images[0]}}" width="500px" alt="img">
  </div>
</div>
