:host {
  width: 100%;
}

.back-arrow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.favourite-title {
  display: flex;
  align-items: center;
}

.exist-favourite-icon {
  cursor: default;
}
