<div class="block-wrapper" *ngIf="rocketInfo; else elseBlock">
  <a class="back-arrow pointer" [routerLink]="['/rockets']">
    <span class="material-icons">
      arrow_back
    </span>
    <i>Back</i>
  </a>

  <div class="favourite-title">
    <ng-container *ngIf="!isHiddenFavouriteIcon; else favouriteTitle">
      <span>Add rocket to favourite</span>
    </ng-container>

    <ng-template #favouriteTitle>
      <span>Favourite rocket!</span>
    </ng-template>

    <span class="material-icons pointer favourite-icon"
          matTooltip="Add to Favourite"
          *ngIf="!isHiddenFavouriteIcon"
          (click)="saveToFavourite()"
    >
      favorite_border
    </span>

    <span class="material-icons pointer favourite-icon"
          *ngIf="isHiddenFavouriteIcon"
          matTooltip="Remove from favourite"
          (click)="removeFromFavourite(rocketInfo?.id)"
    >
      favorite
    </span>
  </div>

  <h4>{{rocketInfo?.rocket_id | uppercase}}</h4>
  <p>{{rocketInfo?.description}}</p>

  <ng-container *ngFor="let img of rocketInfo?.flickr_images; trackBy: trackByFn">
    <img class="img" alt="img" src="{{img}}" width="500">
  </ng-container>
</div>

<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>
