:host {
    width: 100%;
}

.wrapper {
  content: '';
  background-image: url("../../../../assets/images/spaceX_Store_Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  color: #fff;
  margin-top: -20px;
  margin-left: -20px;
}
