<form [formGroup]="formFilters">
  <mat-form-field class="serial-select" appearance="fill">
    <mat-label>Sort by serial</mat-label>
    <mat-select formControlName="serial" (selectionChange)="sortBySerial($event)">
      <mat-option
        *ngFor="let cap of capsulesSerialNums; trackBy: trackByFn"
        [value]="cap"
      >
        {{cap}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span
    class="material-icons pointer"
    *ngIf="isHiddenCleanSerial"
    (click)="clearControls('serial')"
  >
    clear
  </span>

  <mat-form-field appearance="fill">
    <mat-label>Sort by status</mat-label>
    <mat-select formControlName="status" (selectionChange)="sortByStatus($event)">
      <mat-option
        *ngFor="let status of capsulesStatuses; trackBy: trackByFn"
        [value]="status"
      >
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span
    class="material-icons pointer"
    *ngIf="isHiddenCleanStatus"
    (click)="clearControls('status')"
  >
    clear
  </span>
</form>
