:host {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  background-color: #f2ebeb;
}

.nav-item {
  padding: 10px 20px;

  .nav-item-link {
    text-decoration: none;
    color: black;
  }

  .active-route {
    display: flex;
    align-items: center;
    color: #a6a6a6;
    &::after {
      content: '';
      background-image: url("../../../../assets/images/rocket_spacex_icon.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}

.favourite-rockets {
  position: absolute;
  bottom: 15px;
  padding: 10px 20px;
  font-size: 12px;
}
