.rocket-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #cccccc;
  }
}
